body {
  text-align: center;
  margin: 0px;
  border: 0px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1c1c1c;
  justify-content: center;
  color: white;
}
header {
  font-size: 3em;
  color: coral;
}
.addlayers {
  font-size: 2em;
}
.icecream {
  height: 650px;
  width: min(300px, 90vw);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

#layers {
  height: 300px;
  width: min(300px, 90vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.layer {
  height: 60px;
  border-radius: 50px;
  animation: layer;
  animation-duration: 0.8s;
}
@keyframes layer {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

#cone {
  height: 0px;
  width: 0px;
  border-top: 350px solid burlywood;
  border-left: min(150px, 45vw) solid transparent;
  border-right: min(150px, 45vw) solid transparent;
}

.control {
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  width: min(500px, 90vw);
  align-items: center;
  justify-content: space-evenly;
}
#count {
  color: white;
}
button {
  font-size: 2em;
  width: 20%;
  height: 100%;
  border-radius: 100px;
}

@media screen and (max-width: 700px) {

}
